$title-color: #ffffff;
$subtitle-color: #d41443;
$presubtitle-color: #ffa5ba;
$main-text-color: #000000;
$secondary-text-color: #907e82;
$background-hero-color: #ffb8ca;
$background-burger-color: #e17992;
$main-section-background-color: #fff5f6;
$secondary-section-background-color: #e5e5e5;
$button-color: #d41342;
$hover-button-color: #ecebeb;
$second-hover-button-color: #c7133e;
$accent-font: 'Titan One';
$main-font: 'DM Sans';
