$title-color: #FFFFFF;
$subtitle-color:#D41443;
$presubtitle-color:#FFA5BA;
$main-text-color: #000000;
$secondary-text-color:#907E82;
$background-hero-color: #FFB8CA;
$background-burger-color:#E17992;
$main-section-background-color:#FFF5F6;
$secondary-section-background-color:#E5E5E5;
$button-color:#D41342;
$hover-button-color:#ECEBEB;
$second-hover-button-color:#C7133E;
$accent-font:"Titan One";
$main-font:"DM Sans";
$card-pace-background-brown: #f0d1a5;
$card-pace-background-green: #c2e297;