<section class="about">
  <div class="container">
    <p class="section__label about__label">tradition and love</p>
    <h2 class="section__title">
      how it’s <br />
      made?
    </h2>

    <div>
      <picture>
        <source
          srcset="./images/about/main-pic_t_1x-min.png, ./images/about/main-pic_t_2x-min.png"
          media="(min-width: 480px)"
        />
        <img class="about__icons-cow" src="./images/about/main-pic_t_1x-min.png" alt="Cow" />
      </picture>
      <p class="about__text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about__second__text">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about__third__text">Aliquam erat volutpat. Aenean accumsan.</p>
      <div>
        <img class="about__bgi" src="./images/about/background-pic_m_1x-min.png" alt="" />
      </div>

      <button class="about__btn" type="submit">Read more</button>
    </div>

    <div class="about__icon__section">
      <ul>
        <li>
          <div class="about__item">
            <img class="about__icons" src="./images/about/icon-milk-min.png" alt="Milk" />

            <p class="about__numbers">721</p>
            <p class="about__text__section">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </div>
        </li>
        <li>
          <div class="about__item">
            <img class="about__icons" src="./images/about/icon-icecream-min.png" alt="Icecream" />

            <p class="about__numbers">16 KG</p>
            <p class="about__text__section">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </div>
        </li>
        <li>
          <div class="about__item">
            <img class="about__icons" src="./images/about/icon-candy-min.png" alt="Candy" />

            <p class="about__numbers">84</p>
            <p class="about__text__section">
              Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
