<section class="about">
  <div class="container">
    <p class="section__label about__label">tradition and love</p>
    <h2 class="section__title">
      how it’s <br />
      made?
    </h2>

    <div>
      <picture>
        <source
          srcset="./images/about/main-pic_t_1x-min.png, ./images/about/main-pic_t_2x-min.png"
          media="(min-width: 480px)"
        />
        <img class="about__icons-cow" src="./images/about/main-pic_t_1x-min.png" alt="Cow" />
      </picture>
      <p class="about-text">
        Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
        lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
      </p>
      <p class="about-text__second">
        Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
        in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
        maximus. Cras massa nibh, tincidunt.
      </p>
      <p class="about-text__third">Aliquam erat volutpat. Aenean accumsan.</p>
      <div>
        <img class="about__bgi" src="./images/about/background-pic_m_1x-min.png" alt="" />
      </div>

      <button class="about__btn" type="submit">Read more</button>
    </div>
  </div>
</section>
