<section class="section section-advantages">
  <div class="container advantages">
    <h2 class="subtitle_is-hidden">Advantages</h2>
    <ul class="grid_list">
      <li class="grid_items  grid_items-milk">
        <article class="prodact ">
          <p class="text prodact_slogan">721</p>
          <p class="text prodact_text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </article>
      </li>
      <li class="grid_items grid_items-apple">
        <article class="prodact ">
          <p class="text prodact_slogan">16kg</p>
          <p class="text prodact_text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </article>
      </li>
      <li class="grid_items grid_items-margin grid_items-candy">
        <article class="prodact ">
          <p class="text prodact_slogan">84</p>
          <p class="text prodact_text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
