<section class="section card">
  <div class="container">
    <h2 class="visually-hidden">Adress</h2>
    <div>
      <ul class="card__list">
        <li class="card__box"> 
          <div class="card__padding">     
            <p class="card__place">CAFE</p>
            <p class="card__city">Chicago</p>
            <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="card__work-time">
              <li>
                <p class="card__day">Monday - Friday</p>
                <p class="card__time">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="card__day">Saturday - Sunday</p>
                <p class="card__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul>
              <li>
                <a href="tel:+61(0)383766284" class="card__link">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a> 
              </li>
            </ul>
          </div>              
        </li>
        <li class="card__box"> 
          <div class="card__padding">     
            <p class="card__place card__place-foodtruck">FOOD TRUCK</p>
            <p class="card__city">Los Angeles</p>
            <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="card__work-time">
              <li>
                <p class="card__day">Monday - Friday</p>
                <p class="card__time">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="card__day">Saturday - Sunday</p>
                <p class="card__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul>
              <li>
                <a href="tel:+61(0)383766284" class="card__link">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a> 
              </li>
            </ul>
          </div>              
        </li>
        <li class="card__box"> 
          <div class="card__padding">     
            <p class="card__place">CAFE</p>
            <p class="card__city">New York</p>
            <p class="card__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="card__work-time">
              <li>
                <p class="card__day">Monday - Friday</p>
                <p class="card__time">06:00 AM - 10:00 PM</p>
              </li>
              <li>
                <p class="card__day">Saturday - Sunday</p>
                <p class="card__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul>
              <li>
                <a href="tel:+61(0)383766284" class="card__link">+61(0) 383 766 284</a>
              </li>
              <li>
                <a href="mailto:noreply@envato.com" class="card__link">noreply@envato.com</a> 
              </li>
            </ul>
          </div>              
        </li>
      </ul>
    </div>
    <ul class="card__buttons">
      <li>
        <button type="button" class="card__button">Our Locations</button>
      </li>
      <li>
        <button type="button" class="card__button card__button-white">Franchise</button>
      </li>
    </ul>
  </div>    
</section>
