<footer class="footer">
  <div class="container footer-container">
    <h2 class="section__label">homemade ice cream made <p class="section__title">with passion</p></h2>
    <div class="networks">
      <ul class="networks__list">
        <li class="networks__box">
          <a href="#" class="networks__link">                              
            <svg class="networks__icon">
              <use href="./images/icons/symbol-defs.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="networks__box">
          <a href="#" class="networks__link">                              
            <svg class="networks__icon">
              <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
        <li class="networks__box">
          <a href="#" class="networks__link">                              
            <svg class="networks__icon">
              <use href="./images/icons/symbol-defs.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>   
      <p class="footer__text">Feel free to contact <span class="footer__number">+61 (0) 383 766 284</span></p>
    </div> 
  </div>
  <div class="copyright">
    <p class="copyright__text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
  </footer>
  
  
  