<header class="header">
  <div class="container header">
    <a href="" class="logo"><img src="./images/icons/logo.png" alt=""></a>
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-list__item"><span class="menu-list__text">Home</span></li>
        <li class="menu-list__item">About us</li>
        <li class="menu-list__item">How it’s made?</li>
        <li class="menu-list__item">Our products</li>
        <li class="menu-list__item">Contact</li>
      </ul>
      <button type="button" class="header-btn">Buy now</button>
    </nav>
    <button type="button" class="menu__open">
      <svg width="20px" height="12px" aria-label="Открытие мобильного меню">
        <use class="menu__icon" href="./images/icons/sprite.svg#icon-menu-open"></use>
      </svg>
    </button>
    <section class="section hero">
      <div class="hero">
        <h1 class="hero-title">ice cream <br> made with <br><span class="hero-title__text"> passion</span></h1>
        <img src="./images/header/header-pic_m_1x-min.png" class="hero-img" alt="icecream">
        <button type="button" class="hero-button">Products</button>
        <button type="button" class="hero-button">How it’s made?</button>
        <p class="hero__numeral">16</p>
        <p class="hero__numeral">23</p>
        <p class="hero__text">food trucks</p> 
        <img src="./images/header/header-milk_d_1x-min.png" class="hero-img__milk" alt="milk">
        <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <img src="./images/header/header-girl_d_2x-min.png" class="hero-img__girl" alt="milk">
        <button type="button" class="hero-button__riht"></button>
      </div>
    </section>
  </div>
</header>