<header class="header">
  <div class="container container-header">
    <a href="" class="logo"><img src="./images/icons/logo.png" alt="" /></a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list__item nav-list__item--active">
          <a href="./index.html">Home</a>
        </li>
        <li class="nav-list__item"><a href="#about-us">About us</a></li>
        <li class="nav-list__item"><a href="#about">How it’s made?</a></li>
        <li class="nav-list__item"><a href="#our-products">Our products</a></li>
        <li class="nav-list__item"><a href="#contact">Contact</a></li>
      </ul>
    </nav>
    <div class="header__right">
      <button type="button" class="button_header-buy button_header-buy--onmain">Buy now</button>
    </div>
  </div>
  <section class="section hero-section">
    <div class="hero container">
      <h1 class="hero__title--pre">
        ice cream <br />
        made with <br /><span class="hero__title"> passion</span>
      </h1>
      <div class="hero__button">
        <button class="button_header button_header-prodact">Products</button>
        <button class="button_header">How it’s made?</button>
      </div>
      <img src="./images/header/header-pic_m_1x-min.png" class="hero__img" alt="icecream" />
      <div class="text-box">
        <p class="milk-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </div>
      <img src="./images/header/header-milk_t_1x-min.png" class="hero__img--milk" alt="icecream" />
      <button type="button" class="milk-button"></button>
      <img src="./images/header/header-girl_t_1x-min.png" class="hero__img--girl" alt="icecream" />
      <div class="numerals-box">
        <ul class="numerals-list__16">
          <li class="numerals-list__numeral16">16</li>
          <li class="numerals-list__text">cafes</li>
        </ul>
        <ul class="numerals-list__26">
          <li class="numerals-list__numeral23">23</li>
          <li class="numerals-list__text">food trucks</li>
        </ul>
      </div>
    </div>
  </section>
</header>
