<header class="header-hero">
  <div class="container header-hero__container">
    <a href="#" class="logo"><img src="./images/icons/logo.png" alt="logo" /></a>
    <nav class="menu">
      <ul class="menu-list">
        <li class="menu-list__item"><span class="menu-list__text">Home</span></li>
        <li class="menu-list__item">About us</li>
        <li class="menu-list__item">How it’s made?</li>
        <li class="menu-list__item">Our products</li>
        <li class="menu-list__item">Contact</li>
      </ul>
      <button type="button" class="header-btn">Buy now</button>
    </nav>
    <button type="button" class="menu__open">
      <svg width="20px" height="12px" aria-label="Открытие мобильного меню">
        <use class="menu__icon" href="./images/icons/sprite.svg#icon-menu-open"></use>
      </svg>
    </button>
  </div>
  <!-- Мобильное меню -->
  <div class="mobile-nav is-hidden">
    <div class="container">
      <button type="button" class="menu-toggle menu-close">
        <svg class="menu-mobile-icon" width="40" height="40">
          <use href="./images/menu-icons.svg#icon-close_40px"></use>
        </svg>
      </button>
      <ul class="mob-menu list">
        <li class="mob-menu__item">
          <a href="./index.html" class="mob-menu__link link">Студия</a>
        </li>
        <li class="mob-menu__item">
          <a href="./portfolio.html" class="mob-menu__link link">Портфолио</a>
        </li>
        <li class="mob-menu__item">
          <a href="#" class="mob-menu__link link">Контакты</a>
        </li>
      </ul>
      <div class="mobile-nav__bottom">
        <ul class="mob-contacts list">
          <li class="mob-contacts__item">
            <a href="#" class="mob-contacts-tel__link link">+38 096 111 11 11</a>
          </li>
          <li class="mob-contacts__item">
            <a href="#" class="mob-contacts-mail__link link">info@devstudio.com</a>
          </li>
        </ul>
        <ul class="mob-media list">
          <li class="mob-media__item">
            <a href="#" class="mob-media__link link">Instagram</a>
          </li>
          <li class="mob-media__item">
            <a href="#" class="mob-media__link link">Twitter</a>
          </li>
          <li class="mob-media__item">
            <a href="#" class="mob-media__link link">Facebook</a>
          </li>
          <li class="mob-media__item">
            <a href="#" class="mob-media__link link">LinkedIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- <section class="section hero-section">
  <div class="hero container">
    <img class="hero__img" src="images/header/header-pic_m_1x-min.png" />
    <h1 class="hero__title--pre">
      ice cream <br />
      made with <br /><span class="hero__title"> passion</span>
    </h1>
    <div class="hero__button">
      <button class="button_header button_header-prodact">Products</button>
      <button class="button_header">How it’s made?</button>
    </div>
  </div>
</section> -->
