<div class="mobile-menu__btn">
  <button type="button" class="menu__open">
    <svg width="40px" height="40px" aria-label="Открытие мобильного меню">
      <use href="./images/menu-icons/menu.svg"></use>
    </svg>
  </button>
</div>

<div class="container__mob">
  <div class="menu__container is-hidden">
    <button type="button" class="menu__close">
      <svg width="40px" height="40px" aria-label="Закрытие мобильного меню">
        <use href="./images/menu-icons/close.svg"></use>
      </svg>
    </button>

    <nav>
      <button class="button_header-buy" type="Buy">Buy now</button>
      <ul class="mobile__menu list">
        <li class="mobile__menu__item">
          <a href="./index.html" class="mobile__menu__link mobile__menu__link--active">Студия</a>
        </li>
        <li class="mobile__menu__item">
          <a href="" class="mobile__menu__link">Портфолио</a>
        </li>
        <li class="mobile__menu__item">
          <a href="" class="mobile__menu__link">Контакты</a>
        </li>

        <li class="mobile__menu__item">
          <a href="" class="mobile__menu__link">Портфолио</a>
        </li>
        <li class="mobile__menu__item">
          <a href="" class="mobile__menu__link">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
