<button type="button" class="menu__open">
  <svg width="20px" height="12px" aria-label="Открытие мобильного меню">
    <use class="menu__icon" href="./images/icons/sprite.svg#icon-menu-open"></use>
  </svg>
</button>
<div class="container__mob">
  <div class="menu__container is-hidden">
    <button type="button" class="menu__close">
      <svg width="14px" height="14px" aria-label="Закрытие мобильного меню">
        <use href="./images/menu-icons/symbol-menu-icons.svg#icon-close-1"></use>
      </svg>
    </button>

    <nav>
      <div class="btn-position">
        <button class="button_header__menu" type="Buy">Buy now</button>
      </div>

      <ul class="mobile__menu list">
        <li class="mobile__menu__item">
          <a href="./index.html" class="mobile__menu__link mobile__menu__link--active">Home</a>
        </li>
        <li class="mobile__menu__item">
          <a href="#about-us" class="mobile__menu__link">About us</a>
        </li>
        <li class="mobile__menu__item">
          <a href="#about" class="mobile__menu__link">How it’s made?</a>
        </li>

        <li class="mobile__menu__item">
          <a href="#our-products" class="mobile__menu__link">Our products</a>
        </li>
        <li class="mobile__menu__last-item">
          <a href="#contact" class="mobile__menu__link">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
