<section class="section product-section">
    <div class="container">
        <p class="section__label">100% natural</p>
        <h2 class="section__title">products</h2>

        <ul class="grid">
            <li class="grid__item">
                <article class="product product--one">
                    <div class="product__about product__about--one">
                        <h2 class="product__name">ice cream</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="product__button"></button>
                    </div>
                </article>
            </li>

            <li class="grid__item">
                <article class="product product--two">
                    <div class="product__about product__about--two">
                        <h2 class="product__name">ice coffee</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="product__button"></button>
                    </div>
                </article>
            </li>

            <li class="grid__item">
                <article class="product product--three">
                    <div class="product__about product__about--three">
                        <h2 class="product__name">milkshakes</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                           aliqua facilisis.</p> 
                        
    <p for="modal-1">
    </p>
    <label class="product__button" for="modal-1"></label>&nbsp;&nbsp;
</div>

<!-- Модальное окно №1 -->
<div class="modal">
    <input class="modal-open" id="modal-1" type="checkbox" hidden>
    <div class="modal-wrap" aria-hidden="true" role="dialog">
        <label class="modal-overlay" for="modal-1"></label>
        <div class="modal-dialog">
                <h2 class="modal-header">Модальное окно на CSS! :-)</h2>
                <label class="btn-close" for="modal-1" aria-hidden="true">×</label>
                <p class="modal-body">Это всего лишь один небольшой пример :D</p>
        </div>
    </div>
</div>
                </article>
            </li>
        </ul>
    </div>
</section>