<section class="section product-section">
    <div class="container">
        <p class="section__label">100% natural</p>
        <h2 class="section__title">products</h2>

        <ul class="grid">
            <li class="grid__item">
                <article class="product ">
                    <div class="product__about product__about--one">
                        <h2 class="product__name">ice cream</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="product__button"></button>
                    </div>
                </article>
            </li>

            <li class="grid__item">
                <article class="product ">
                    <div class="product__about product__about--two">
                        <h2 class="product__name">ice coffee</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="product__button"></button>
                    </div>
                </article>
            </li>

            <li class="grid__item">
                <article class="product ">
                    <div class="product__about product__about--three">
                        <h2 class="product__name">milkshakes</h2>
                        <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et. dolore magna
                            aliqua facilisis.</p>
                        <button type="button" class="product__button"></button>
                    </div>
                </article>
            </li>
        </ul>
    </div>
</section>