<section id="our-products" class="section product-section">
  <div class="container">
    <p class="section__label">100% natural</p>
    <h2 class="section__title">products</h2>

    <ul class="grid">
      <li class="grid__item">
        <article class="product product--one">
          <div class="product__about product__about--one">
            <h2 class="product__name">ice cream</h2>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            
            <label class="product__button" for="modal-1"></label>&nbsp;&nbsp;
          </div>
          <div class="modal">
            <input class="modal-open" id="modal-1" type="checkbox" hidden />
            <div class="modal-wrap" aria-hidden="true" role="dialog">
              <label class="modal-overlay" for="modal-1"></label>
              <div class="modal-dialog modal-dialog">
                <h3 class="product__name product__name--modal">ice cream</h3>
                <label class="modal__close" for="modal-1" aria-hidden="true"></label>
                <p class="product__description product__description--modal">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="grid__item">
        <article class="product product--two">
          <div class="product__about product__about--two">
            <h2 class="product__name">ice coffee</h2>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.
            </p>
            
            <label class="product__button" for="modal-2"></label>&nbsp;&nbsp;
          </div>
          <div class="modal">
            <input class="modal-open" id="modal-2" type="checkbox" hidden />
            <div class="modal-wrap" aria-hidden="true" role="dialog">
              <label class="modal-overlay" for="modal-2"></label>
              <div class="modal-dialog modal-dialog--two">
                <h3 class="product__name product__name--modal">ice coffee</h3>
                <label class="modal__close" for="modal-2" aria-hidden="true"></label>
                <p class="product__description product__description--modal">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="grid__item">
        <article class="product product--three">
          <div class="product__about product__about--three">
            <h2 class="product__name">milkshakes</h2>
            <p class="product__description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>

            
            <label class="product__button" for="modal-3"></label>&nbsp;&nbsp;
          </div>
          <div class="modal">
            <input class="modal-open" id="modal-3" type="checkbox" hidden />
            <div class="modal-wrap" aria-hidden="true" role="dialog">
              <label class="modal-overlay" for="modal-3"></label>
              <div class="modal-dialog modal-dialog--three">
                <h3 class="product__name product__name--modal">milkshakes</h3>
                <label class="modal__close" for="modal-3" aria-hidden="true"></label>
                <p class="product__description product__description--modal">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et. dolore magna aliqua facilisis.
                </p>
              </div>
            </div>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
