<section class="reviews-section">
  <h2 class="reviews-section__title">Reviews</h2>
  <div class="container reviews-container">
    <div class="reviews__card1">
       <!-- <picture>
        <source
          srcset="../images/reviews/rev1-pc.jpg 1x, ../images/reviews/rev1-pc-2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="../images/reviews/rev1-tab.jpg 1x, ../images/reviews/rev1-tab-2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/rev1-mob.jpg 1x, ../images/reviews/rev1-mob-2x.jpg 2x"
          media="(max-width: 767px)"
        /> -->
        <img src="./images/reviews/client-1-min.png" alt="девушка1" />
      <!-- </picture> -->
      <div class="lines-box">
        <div class="text-wrapper">
          <p class="text-wrapper__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
    </div>
    <div class="reviews__card2"></div>
    <div class="reviews__card3"></div>
    
  </div>
    </section>
  <!-- <div class="container reviews-container">
    <div class="lines-box"></div>
    <div class="text-wrapper">
      <p class="text-wrapper__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
  </div>
  <div class="review-section__slider">
    <p>Emily, Los Angeles</p>
  </div> -->
</section>
