<section class="reviews-section">
  <h2 class="reviews-section__title">Reviews</h2>

  <div class="container reviews-container">
    <div class="reviews-slider1">
      <img src="./images/reviews/client-1-min.png" alt="девушка1" />
      <div class="reviews__card1">
        <div class="lines-box">
          <div class="text-wrapper">
            <p class="text-wrapper__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
      </div>
      <p class="review-signature">Emily, Los Angeles</p>
    </div>
    <div class="reviews-slider2">
      <img src="./images/reviews/client-2-min.png" alt="девушка2" />
      <div class="reviews__card2">
        <div class="lines-box">
          <div class="text-wrapper">
            <p class="text-wrapper__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
      </div>
      <p class="review-signature">Nora, Chicago</p>
    </div>
    <div class="reviews-slider3">
      <img src="./images/reviews/client-3-min.png" alt="девушка3" />
      <div class="reviews__card3">
        <div class="lines-box">
          <div class="text-wrapper">
            <p class="text-wrapper__text">
              Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
              hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
            </p>
          </div>
        </div>
      </div>
      <p class="review-signature">Sara, New York</p>
    </div>
  </div>
</section>
