<section class="reviews-section">
  <h2 class="reviews-section__title">Reviews</h2>

  <div class="container reviews-container">
    <img src="./images/reviews/client-1-min.png" alt="девушка1" />
    <div class="reviews__card1">
      <div class="lines-box">
        <div class="text-wrapper">
          <p class="text-wrapper__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
    </div>
    <p class="review-signature">Emily, Los Angeles</p>

    <img src="./images/reviews/house-dots.png" alt="house-dots" />

    <div class="reviews__card2"></div>
    <div class="reviews__card3"></div>
  </div>

  <!-- <div class="container reviews-container">
    <div class="lines-box"></div>
    <div class="text-wrapper">
      <p class="text-wrapper__text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
        nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
      </p>
    </div>
  </div>
  <div class="review-section__slider">
    <p>Emily, Los Angeles</p>
  </div> -->
</section>
