.card {

  background: #fff5f6;
}

.card__list {


  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-content: center;

  // margin-bottom: 34px;


  position: relative;
  top: -94.5px;
  margin-bottom: -60.5px;
 
  @media screen and (min-width: 768px) {
    margin-bottom: -33.5px;
    flex-direction: row;
    top: -78px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: -28.5px;
    flex-direction: row;
    top: -102px;
  }
  @media screen and (min-width: 1280px) {
    background-image:  url(../images/icons/icons-contacts-footer/contacts-background.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 1280px 382px;
  }
}
.card__box {
  background-color: $title-color;
  max-width: 220px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    max-width: 220px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 330px;
  }
}
.card__padding {
  padding: 43px 20px;
  @media screen and (min-width: 768px) {
    padding: 50px 32px;
  }
  @media screen and (min-width: 1280px) {
    padding: 51px 44px 62px 43px;
  }
}
.card__place {
  background-color: $card-pace-background-brown;
  margin-bottom: 25px;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  width: 80px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: $title-color;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 768px) {
    width: 73px;
  }
}
.card__place-foodtruck {
  background-color: $card-pace-background-green;
  width: 130px;
  @media screen and (min-width: 768px) {
    width: 138px;
  }
}
.card__city {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $main-text-color;
  margin-bottom: 10px;


  @media screen and (min-width: 768px) {
    font-size: 14px;
  }

}

.card__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $secondary-text-color;


  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 166%;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 183%;

  &::after {
    content: '';
    border-bottom: 1px solid #e1e1e1;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  }
}
.card__work-time {
  margin-top: 25px;
  &::after {
    content: '';
    border-bottom: 1px solid #e1e1e1;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
      margin-top: 30px;
      margin-bottom: 30px; 
    }
    @media screen and (min-width: 1280px) {
      margin-top: 32px;
      margin-bottom: 32px;
  
    }
  }
}
.card__day {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.card__time {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $presubtitle-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.card__link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 183%;  
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 183%;

  }
}
// BUTTONS

.buttton {
  display: flex;
}

.button__list {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}

.button__list {
  text-align: center;



  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}


.card__button {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  border-radius: 22px;
  background-color: $button-color;
  color: $title-color;
  border: 0px solid transparent;
  margin-bottom: 10px;

  margin-right: 15px;

  width: 161px;
  height: 44px;
  &:hover {
    cursor: pointer;
  }
}
.card__button-white {
  background-color: $title-color;
  color: $button-color;
  margin-bottom: 0;

  &:hover {
    background-color: rgba(255, 245, 246, 0);
  
  }
  .button__svg {
    margin-left: 13px;
  }
  .button__svg-white {
    fill: $title-color;
    margin-left: 8px;
  }
  .button__svg-red {
    fill: $button-color;
  }
}