.footer {
  background-color: $main-section-background-color;
  padding-top: 18.5px;
  padding-bottom: 25px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  @media screen and (min-width: 768px) {
    padding-top: 70px;
    padding-bottom: 18px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 53px;
    padding-bottom: 10px;
  }
}
.footer-container {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: space-between;
  }
}
.footer .section__label {
  width: 234px;
  text-align: left;
  margin-bottom: 31px;
  @media screen and (min-width: 768px) {
    width: 340px;
    margin-left: 25px;
  }
  @media screen and (min-width: 1280px) {
    width: 474px;
    margin-left: 38px;
  }
}
.footer .section__title {
  text-align: inherit;
  margin-top: 17px;
  margin-bottom: 0;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    font-size: 48px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}
.networks {
  display: block;
  margin-top: 10px;
}
.networks__list {
  display: flex;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    position: absolute;
    right: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 0;
  }
}
.networks__list:not(:last-child) {
  display: flex;

  justify-content: flex-end;
  border-radius: 50%;
}
.networks__box {
  border-radius: 50%;
  background-color: #fea5bb;
  margin-right: 28.24px;
}
.networks__icon {
  width: 20px;
  height: 20px;
  fill: $title-color;
}
.networks__link {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $title-color;
  border-radius: 50%;
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    cursor: pointer;
    background-color: $button-color;
  }
  @media screen and (min-width: 768px) {
    width: 34px;
    height: 34px;
  }
  @media screen and (min-width: 1280px) {
    width: 34px;
    height: 34px;
  }
}
.footer__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 186%;
  text-align: right;
  color: $main-text-color;
  display: block;
  text-align: right;
  margin-right: 28.24px;
  margin-top: 46px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    margin-top: 50px;
  }
}
.footer__number {
  color: $button-color;
}
.copyright {
  &::before {
    content: '';
    border-bottom: 1px solid #e1e1e1;
    display: block;
    margin-bottom: 22px;
    margin-top: 46px;
    @media screen and (min-width: 768px) {
      margin-bottom: 29px;
      margin-top: 91px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 9px;
      margin-top: 97px;
    }
  }
  @media screen and (min-width: 768px) {
    width: auto;
  }
  @media screen and (min-width: 1280px) {
    width: auto;
  }
}
.copyright__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  color: $secondary-text-color;
  width: 149px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: auto;
    line-height: 186%;
  }
  @media screen and (min-width: 1280px) {
    width: auto;
    line-height: 186%;
  }
}
