.header {
  background-color: $background-hero-color;
  background-image: not repeat url(/images/header/header-pic_m_1x-min.png);
}
.hero-title {
  font-family: Titan One;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  &__text {
    color: $subtitle-color;
    font-size: 34px;
    line-height: 39px;
  }
}
.hero-title::after {
  content: '';
  width: 346px;
  height: 344px;
  background-color: $presubtitle-color;
  border-radius: 50%;
}
.menu__close {
  background-color: $background-hero-color;
}
