.header {
  position: relative;
  background-color: $background-hero-color;
  &::before {
    position: absolute;
    top: 50%;
    left: 36px;
    transform: translateY(-50%);
    content: '';
    display: inline-block;
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background: #ffa5ba;
  }
  @media screen and (min-width: 768px) {
  }
}
.container.head {
  position: relative;
  width: 100vw;
  height: 502px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/images/header/header-pic_m_1x-min.png);
  @media screen and (min-width: 768px) {
  }
}
.logo {
  position: absolute;
  top: 6px;
  left: 20px;
  @media screen and (min-width: 768px) {
  }
}

.menu {
  display: none;
  @media screen and (min-width: 768px) {
  }
}
.menu__open,
.menu__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $background-hero-color;
  border: none;
  @media screen and (min-width: 768px) {
  }
}
.hero-title {
  font-family: Titan One;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;
  &__text {
    color: $subtitle-color;
    font-size: 34px;
    line-height: 39px;
  }
  @media screen and (min-width: 768px) {
  }
}
.section.hero {
  position: absolute;
  top: 193px;
  left: 20px;
  z-index: 3;
  @media screen and (min-width: 768px) {
  }
}
.hero-button {
  width: 61.2px;
  height: 24px;
  font-size: 8px;
  line-height: 10px;
  color: $subtitle-color;
  border-radius: 20px;
  border: none;
  &:hover {
    color: $title-color;
    background: $subtitle-color;
    border-radius: 20px;
  }
  @media screen and (min-width: 768px) {
  }
}
