.product-section {
  width: 100vw;
  overflow-x: hidden;
  background-color: $title-color;
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.grid {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: -17px;
  margin-top: 0;
}

.grid__item {
  max-width: 280px;
  margin-bottom: 17px;
  margin-left: 20px;
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    max-width: 220px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 329px;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 17px);
  }
}

.section__title {
  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 49px;
  }
}

.product {
  position: relative;
  margin-top: 113px;
  @media screen and (min-width: 768px) {
    margin-top: 111px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 210px;
  }
}

.product {
  &::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 252px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 249px 252px;
    vertical-align: middle;
    padding-left: 16px;
    padding-right: 15px;
    position: absolute;
    top: -25%;

    @media screen and (min-width: 768px) {
      padding-left: 0;
      padding-right: 0;
      height: 226px;
      background-size: 220px 226px;
    }

    @media screen and (min-width: 1280px) {
      height: 335px;
      background-size: 335px 335px;
      top: -40%;
    }
  }
}

.product--one::before {
  background-image: url(/images/products/pic1_m_1x-min.png);

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/products/pic1_m_2x-min.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(/images/products/pic1_t_1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products/pic1_t_2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/products/pic1_d_1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products/pic1_d_2x-min.png);
    }
  }
}

.product--two::before {
  background-image: url(/images/products/pic2_m_1x-min.png);

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/products/pic2_m_2x-min.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(/images/products/pic2_t_1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products/pic2_t_2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/products/pic2_d_1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products/pic2_d_2x-min.png);
    }
  }
}

.product--three::before {
  background-image: url(/images/products/pic3_m_1x-min.png);

  @media screen and (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/images/products/pic3_m_2x-min.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(/images/products/pic3_t_1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products/pic3_t_2x-min.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(/images/products/pic3_d_1x-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/images/products/pic3_d_2x-min.png);
    }
  }
}

.product__name {
  font-family: $accent-font;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  padding-top: 161px;
  @media screen and (min-width: 768px) {
    padding-top: 152px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 163px;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 1.13;
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 6px;
    background-image: url(/images/icons/group4.svg);
    background-size: 26px 6px;
    bottom: -30px;
    left: 45%;
  }
}

.product__description {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 66px 0 30px 0;
  padding: 0 39px 0 41px;
  max-width: 100%;
  height: 124px;
  @media screen and (min-width: 768px) {
    line-height: 1.8;
    margin: 66px 0 40px 0;
    padding: 0 11px 0 11px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    height: 106px;
    margin: 70px 0 62px 0;
    padding: 0 44px 0 44px;
  }
}

.product__about {
  text-align: center;
  border-radius: 24px;
  &--one {
    background-color: $background-hero-color;
  }

  &--two {
    background-color: #f0d1a5;
  }

  &--three {
    background-color: #c2e297;
  }
}

.product__button {
  height: 40px;
  width: 40px;
  background-image: url(/images/icons/arrow-right_p.svg);
  margin-bottom: 41px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 250ms;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 50px;
  }
  &:hover,
  &:focus {
    transform: scale(1.15);
  }
}

/* Стили модального окна */
.modal-header h2 {
  color: #555;
  font-size: 20px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
}
/* кнопка закрытия окна */
.modal .btn-close {
  color: #aaa;
  cursor: pointer;
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}
.modal .btn-close:hover {
  color: red;
}
/* слой затемнения */
.modal-wrap:before {
  content: '';
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}
.modal-overlay {
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 102;
}
/* активация слоя затемнения и модального блока */
.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
  display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
  transform: translate(-50%, 0);
  top: 20%;
}
/* элементы модального окна */
.modal-dialog {
  background: #fefefe;
  border: #555555 solid 1px;
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: -100%;
  transform: translate(-50%, -500%);
  transition: transform 0.4s ease-out;
  width: 80%;
  max-width: 500px;
  z-index: 103;
}
.modal-body {
  padding: 20px;
}
.modal-body p {
  margin: 0;
}
.modal-header,
.modal-footer {
  padding: 20px 20px;
}
.modal-header {
  border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
  font-size: 20px;
  margin: 0;
}

/* кнопки */
.btn {
  background: #fff;
  border: #555 solid 1px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 15px;
  text-decoration: none;
  text-align: center;
  min-width: 60px;
  position: relative;
}
.btn:hover,
.btn:focus {
  background: #f2f2f2;
}
.btn-primary {
  background: #428bca;
  border-color: #357ebd;
  color: #fff;
}
.btn-primary:hover {
  background: #66a1d3;
}
