.reviews-section {
  width: 100vw;
  height: auto;
  margin-top: 80px;
  margin-bottom: 86px;
  @media screen and(min-width: 768px) {
    margin-top: 121px;
    margin-bottom: 119px;
  }
  @media screen and(min-width: 1280px) {
    margin-top: 123px;
    margin-bottom: 132px;
  }
}
.reviews-section__title {
  overflow: hidden;
  width: 0px;
  height: 0px;
  opacity: 0;
}
.reviews-container {
  padding-right: 20px;
  padding-left: 20px;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;

  background-color: #ffffff;

  @media screen and(max-width: 767px) {
    max-width: 480px;
  }

  @media screen and(min-width: 768px) {
    max-width: 768px;
    padding-right: 74px;
    padding-left: 74px;
  }

  @media screen and(min-width: 1280px) {
    max-width: 1280px;
    padding-right: 177px;
    padding-left: 177px;
  }
}
.reviews__card1,
.reviews__card2,
.reviews__card3 {
  width: auto;
  height: auto;
  text-align: center;
  background-color: #fafafa;
  @media screen and(max-width: 767px) {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 43px;
    padding-bottom: 20px;
    margin-top: 29px;
    margin-bottom: 52px;
  }
  @media screen and(min-width: 768px) {
    padding-right: 52px;
    padding-left: 52px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 42px;
  }
  @media screen and(min-width: 1280px) {
    padding-right: 38px;
    padding-left: 38px;
    padding-top: 30px;
    padding-bottom: 28px;
    margin-top: 15px;
    margin-bottom: 34px;
  }
}
.reviews__card1 > img {
  display: block;
}
.lines-box {
  position: relative;

  @media screen and(max-width: 767px) {
    height: 239px;
    width: 100%;
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 2px,
      #fafafa 2px,
      #fafafa 31px
    );
  }
  @media screen and(min-width: 768px) {
    height: 96px;
    width: 100%;
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 2px,
      #fafafa 2px,
      #fafafa 33px
    );
  }
  @media screen and(min-width: 1280px) {
    height: 74px;
    width: 100%;
    background-image: repeating-linear-gradient(
      to top,
      #e1e1e1,
      #e1e1e1 2px,
      #fafafa 2px,
      #fafafa 37px
    );
  }
}

.text-wrapper {
  position: absolute;
  z-index: 777;
  top: -6px;
  left: 0;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  @media screen and(min-width: 768px) {
    padding-right: 42px;
    padding-left: 42px;
    top: 6px;
  }
}
.text-wrapper__text {
  display: inline-block;
  width: 100%;
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 31px;
  color: $main-text-color;
  text-align: center;
  @media screen and(min-width: 768px) {
    font-size: 14px;
    line-height: 2.14em;
  }
  @media screen and(min-width: 1280px) {
    font-size: 16px;
    line-height: 1.87em;
  }
}
.lines-box::before {
  position: absolute;
  content: '';
  width: 54px;
  height: 40px;
  top: -21px;
  left: 20px;
  background-image: url(../images/reviews/quotes-min.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  fill: currentColor;
  margin-bottom: 3px;
  margin-right: auto;
  margin-left: 0px;
  @media screen and(min-width: 768px) {
    top: -12px;
    left: 7px;
  }
}
.lines-box::after {
  position: absolute;
  content: '';
  width: 32px;
  height: 4px;
  bottom: -50px;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/reviews/3dots.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.review-signature {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: $main-text-color;
  margin-bottom: 30px;
}
.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots > li:nth-child(2) {
  margin-right: 18px;
  margin-left: 18px;
}
.slick-dots > li {
  list-style: none;
}
.slick-dots > li > button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #d9d9d9;
  border-radius: 50%;
  border: none;
}
.slick-dots .slick-active > button {
  background-image: url(../images/reviews/house.png);
  border-radius: 0;
  background-color: $title-color;
}
